<% title 'Welcome to klassifieds' %>
<% description 'Australias premier classifieds website' %>
<% keywords 'klassifieds, classifieds, ads, sell, buy' %>
<form>
          <div class="large-12 columns panel">
              <div class="large-3 columns">
                <input type="text" placeholder="Search klassifieds" >
              </div>
                  <div class="large-3 columns">
                    <div class="row collapse">
                      <div class="small-3 large-2 columns">
                        <span class="prefix">in</span>
                      </div>
                      <div class="small-9 large-10 columns">
                        <select>
                          <option value="klassifieds">all of klassifieds</option>
                          <option value="auto">Auto</option>
                          <option value="jobs">Jobs</option>
                          <option value="realestate">Real Estate</option>  
                          <option value="home">Home & Garden</option> 
                          <option value="clothes">Clothes & Jewels</option> 
                          <option value="farming">Farming</option>  
                          <option value="computers">Computers</option>  
                          <option value="businessservices">Business Services</option>  
                          <option value="pets">Pets</option>  
                          <option value="books">Books, Games & Music</option>  
                          <option value="community">Community</option>  
                          <option value="erotic">Erotic</option>    
                          <option value="tickets">Tickets</option>  
                          <option value="children">Children & Baby</option>  
                          <option value="bargains">Bargains</option>  
                          <option value="collectables">Collectables</option>    
                          <option value="sport">Sport & Fitness</option> 
                          <option value="boats">Boats & Jetskis</option>  
                        </select>
                      </div>
                  </div> 
                </div>
                <div class="large-3 columns">
                  <div class="row collapse">
                    <div class="small-3 large-2 columns">
                      <span class="prefix">for</span>
                    </div>
                    <div class="small-9 large-10 columns">
                    <select>
                      <option value="all"> all of Australia</option>
                      <option value="nsw">NSW</option>                      
                      <option value="vic">VIC</option>                     
                      <option value="qld">QLD</option> 
                      <option value="act">ACT</option> 
                      <option value="sa">SA</option>                     
                      <option value="wa">WA</option>                      
                      <option value="nt">NT</option>
                      <option value="tas">TAS</option>
                    </select>                
                  </div>
                </div>
              </div>
              <div class="large-3 columns">
                  <div class="row collapse">
                    <a href="#" class="button">Search</a>
                  </div>
              </div>
              </div>
</form>
<div class="row">
	<div class="large-4 columns">
		<h5>Auto</h5>
		<ul class="square">
			<li><a href="#">Cars, Vans & Utes</a></li>
			<li><a href="#">Parts and Spares</a></li>
			<li><a href="#">Caravan and Campervan</a></li>
			<li><a href="#">Bikes and Scooters</a></li>
		</ul>
	<dl class="accordion" data-accordion>
	<dd>
	<a href="#panel1"><i class="fi-plus small"></i>&nbsp;Show More</a>
		<div id="panel1" class="content">
			<ul class="square">
				<li><a href="#">Mechanics and Garages</a></li>
				<li><a href="#">Trailers</a></li>
				<li><a href="#">Automotive Services</a></li>
			</ul>
		</div>
	</dd>
	</dl>
	</div>
	<div class="large-4 columns">
	<h5>Jobs</h5>
	<ul class="square">
		<li><a href="#">Hospitality</a></li>
		<li><a href="#">Construction & Trades</a></li>
		<li><a href="#">Sales & Marketing</a></li>
		<li><a href="#">Graphics & Web Design</a></li>
	</ul>
	<dl class="accordion" data-accordion>
	<dd>
	<a href="#panel2"><i class="fi-plus small"></i>&nbsp;Show More</a>
	<div id="panel2" class="content">
	<ul class="square">
		<li><a href="#">Farming</a></li>
		<li><a href="#">Finance</a></li>
		<li><a href="#">Gardening & Landscaping</a></li>
		<li><a href="#">Health & Sports</a></li>
		<li><a href="#">Beauty</a></li>
		<li><a href="#">Healthcare & Nursing</a></li>
		<li><a href="#">Housekeeping</a></li>
		<li><a href="#">IT</a></li>
		<li><a href="#">Moving & Removals</a></li>
		<li><a href="#">Nanny & Babysitting</a></li>
		<li><a href="#">Office</a></li>
		<li><a href="#">Legal</a></li>
		<li><a href="#">Real Estate</a></li>
		<li><a href="#">Recruitment & HR</a></li>
		<li><a href="#">Retail</a></li>
		<li><a href="#">Sales & Call Centres</a></li>
		<li><a href="#">Teaching & Childcare</a></li>
		<li><a href="#">Transport & Logistics</a></li>
		<li><a href="#">Volunteer</a></li>
	</ul>
	</div>
	</dd>
	</dl>	
	</div>
	<div class="large-4 columns">
		<h5>Real Estate</h5>
		<ul class="square">
			<li><a href="#">Flatshare & Houseshare</a></li>
			<li><a href="#">Roomshare</a></li>
			<li><a href="#">Property For Rent</a></li>
			<li><a href="#">Property For Sale</a></li>
		</ul>
		<dl class="accordion" data-accordion>
		<dd>
		<a href="#panel3"><i class="fi-plus small"></i>&nbsp;Show More</a>
		<div id="panel3" class="content">
			<ul class="square">
				<li><a href="#">Couchsurfing</a></li>
				<li><a href="#">Land For Sale</a></li>
				<li><a href="#">Office & Commercial Space</a></li>
				<li><a href="#">Parking & Storage</a></li>
				<li><a href="#">Real Estate Services</a></li>
				<li><a href="#">Short Term</a></li>
			</ul>
		</div>
		</dd>
		</dl>	
	</div>
	<div class="large-4 columns">
		<h5>Home & Garden</h5>
			<ul class="square">
				<li><a href="#">Furniture</a></li>
				<li><a href="#">Appliances</a></li>
				<li><a href="#">Tools & DIY</a></li>
				<li><a href="#">Garden</a></li>
			</ul>
		<dl class="accordion" data-accordion>
		<dd>
		<a href="#panel4"><i class="fi-plus small"></i>&nbsp;Show More</a>
		<div id="panel4" class="content">
			<ul class="square">
				<li><a href="#">Builders & Trades</a></li>
				<li><a href="#">Building Materials</a></li>
				<li><a href="#">Cleaning Services</a></li>
				<li><a href="#">Home Decor</a></li>
			</ul>
		</div>
		</dd>
		</dl>	
	</div>
	<div class="large-4 columns">
		<h5>Clothing & Jewellery</h5>
		<ul class="square">
			<li><a href="#">Women's clothing</a></li>
			<li><a href="#">Women's Shoes</a></li>
			<li><a href="#">Men's Clothing</a></li>
			<li><a href="#">Jewellery</a></li>
		</ul>
		<dl class="accordion" data-accordion>
		<dd>
		<a href="#panel5"><i class="fi-plus small"></i>&nbsp;Show More</a>
		<div id="panel5" class="content">
			<ul class="square">
				<li><a href="#">Accessories</a></li>
				<li><a href="#">Bags</a></li>
				<li><a href="#">Dress Making</a></li>
				<li><a href="#">Men's shoes</a></li>
				<li><a href="#">Alteration Services</a></li>
			</ul>
		</div>
		</dd>
		</dl>	
	</div>
	<div class="large-4 columns">
		<h5>Computers</h5>
		<ul class="square">
			<li><a href="#">Computers & Software</a></li>
			<li><a href="#">Phones</a></li>
			<li><a href="#">Video Game & Consoles</a></li>
			<li><a href="#">Cameras</a></li>
		</ul>
		<dl class="accordion" data-accordion>
		<dd>
		<a href="#panel6"><i class="fi-plus small"></i>&nbsp;Show More</a>
		<div id="panel6" class="content">
			<ul class="square">
				<li><a href="#">Audio</a></li>
				<li><a href="#">TV & DVD Players</a></li>
			</ul>
		</div>
		</dd>
		</dl>	
	</div>
	<div class="large-4 columns">
		<h5>Business Services</h5>
		<ul class="square">
			<li><a href="#">Hire & Sell</a></li>
			<li><a href="#">Art & Entertainment</a></li>
			<li><a href="#">Building & Repairs</a></li>
			<li><a href="#">Cleaning</a></li>
		</ul>
		<dl class="accordion" data-accordion>
		<dd>
		<a href="#panel7"><i class="fi-plus small"></i>&nbsp;Show More</a>
		<div id="panel7" class="content">
			<ul class="square">
				<li><a href="#">Moving</a></li>
				<li><a href="#">Outdoor & Garden</a></li>
				<li><a href="#">Health & Beauty</a></li>
				<li><a href="#">Appliance Repair</a></li>
				<li><a href="#">Automotive</a></li>
				<li><a href="#">Childcare & Nanny</a></li>
				<li><a href="#">Computer Repair</a></li>
				<li><a href="#">Courses & Training</a></li>
				<li><a href="#">Dress Making</a></li>
				<li><a href="#">Graphic & Web Design</a></li>
				<li><a href="#">Tutoring</a></li>
				<li><a href="#">Languages</a></li>
				<li><a href="#">Mechanics</a></li>
				<li><a href="#">Musicians & Artists</a></li>
				<li><a href="#">Party & Catering</a></li>
				<li><a href="#">Personal Training</a></li>
				<li><a href="#">Pet Services</a></li>
				<li><a href="#">Photography & Video</a></li>
				<li><a href="#">Real Estate</a></li>
				<li><a href="#">Resume</a></li>
				<li><a href="#">Tax & Financial</a></li>
				<li><a href="#">Taxi & Airport Transfers</a></li>
				<li><a href="#">Travel Agent</a></li>
				<li><a href="#">Wedding & Venues</a></li>
			</ul>
		</div>
		</dd>
		</dl>	
	</div>
	<div class="large-4 columns">
		<h5>Pets</h5>
		<ul class="square">
			<li><a href="#">Lost & found</a></li>
			<li><a href="#">Pet Products</a></li>
			<li><a href="#">Horses & Ponies</a></li>
			<li><a href="#">Dogs & Ponies</a></li>
		</ul>
		<dl class="accordion" data-accordion>
		<dd>
		<a href="#panel8"><i class="fi-plus small"></i>&nbsp;Show More</a>
		<div id="panel8" class="content">
			<ul class="square">
				<li><a href="#">Birds</a></li>
				<li><a href="#">Cats & Kittens</a></li>
				<li><a href="#">Fish</a></li>
				<li><a href="#">Livestock</a></li>
				<li><a href="#">Pet Services</a></li>
				<li><a href="#">Rabbits</a></li>
				<li><a href="#">Reptiles</a></li>
			</ul>
		</div>
		</dd>
		</dl>	
	</div>
	<div class="large-4 columns">
		<h5>Books, Music & Games</h5>
		<ul class="square">
			<li><a href="#">Musical Instruments</a></li>
			<li><a href="#">CDs & DVDs</a></li>
			<li><a href="#">Books</a></li>
			<li><a href="#">Board Games</a></li>
		</ul>
		<dl class="accordion" data-accordion>
		<dd>
		<a href="#panel9"><i class="fi-plus small"></i>&nbsp;Show More</a>
		<div id="panel9" class="content">
			<ul class="square">
				<li><a href="#">Video Games</a></li>
			</ul>
		</div>
		</dd>
		</dl>	
	</div>
	<div class="large-4 columns">
		<h5>Community</h5>
		<ul class="square">
			<li><a href="#">Rideshare & Travel Partners</a></li>
			<li><a href="#">Garage Sale</a></li>
			<li><a href="#">Classes</a></li>
			<li><a href="#">Musicians & Artists</a></li>
		</ul>
		<dl class="accordion" data-accordion>
		<dd>
		<a href="#panel10"><i class="fi-plus small"></i>&nbsp;Show More</a>
		<div id="panel10" class="content">
			<ul class="square">
				<li><a href="#">Activities & Hobbies</a></li>
				<li><a href="#">Classes</a></li>
				<li><a href="#">Dance Partners</a></li>
				<li><a href="#">Events</a></li>
				<li><a href="#">Lost & found</a></li>
				<li><a href="#">Language Swap</a></li>
				<li><a href="#">Missed Connections</a></li>
				<li><a href="#">Sports Partners</a></li>
			</ul>
		</div>
		</dd>
		</dl>	
	</div>
	<div class="large-4 columns">
		<h5>Erotic</h5>
		<ul class="square">
			<li><a href="#">Toys & Accessories</a></li>
			<li><a href="#">Escort & Adult</a></li>
			<li><a href="#">Website & Movies</a></li>
			<li><a href="#">Casual Encounters & NSA</a></li>
		</ul>
		<dl class="accordion" data-accordion>
		<dd>
		<a href="#panel11"><i class="fi-plus small"></i>&nbsp;Show More</a>
		<div id="panel11" class="content">
			<ul class="square">
				<li><a href="#">Adult Services</a></li>
				<li><a href="#">Men4Men</a></li>
				<li><a href="#">Women4Women</a></li>
			</ul>
		</div>
		</dd>
		</dl>	
	</div>
	<div class="large-4 columns">
		<h5>Tickets</h5>
		<ul class="square">
			<li><a href="#">Concerts</a></li>
			<li><a href="#">Sport</a></li>
			<li><a href="#">Bus, Train & Plane</a></li>
			<li><a href="#">Other Tickets</a></li>
		</ul>
		<dl class="accordion" data-accordion>
		<dd>
		<a href="#panel12"><i class="fi-plus small"></i>&nbsp;Show More</a>
		<div id="panel12" class="content">
			<ul class="square">
				<li><a href="#">Theatre & Film</a></li>
			</ul>
		</div>
		</dd>
		</dl>	
	</div>
	<div class="large-4 columns">
		<h5>Farming</h5>
		<ul class="square">
			<li><a href="#">Machinery</a></li>
			<li><a href="#">Vehicles</a></li>
			<li><a href="#">Livestock</a></li>
			<li><a href="#">Equipment</a></li>
		</ul>
		<dl class="accordion" data-accordion>
		<dd>
		<a href="#panel13"><i class="fi-plus small"></i>&nbsp;Show More</a>
		<div id="panel13" class="content">
			<ul class="square">
				<li><a href="#">Workshop</a></li>
				<li><a href="#">Water</a></li>
				<li><a href="#">Cropping</a></li>
			</ul>
		</div>
		</dd>
		</dl>	
	</div>
	<div class="large-4 columns">
		<h5>Children & Baby</h5>
		<ul class="square">
			<li><a href="#">Baby Clothing</a></li>
			<li><a href="#">Kids Clothing</a></li>
			<li><a href="#">Toys - Indoor</a></li>
			<li><a href="#">Cots & Bedding</a></li>
		</ul>
		<dl class="accordion" data-accordion>
		<dd>
		<a href="#panel14"><i class="fi-plus small"></i>&nbsp;Show More</a>
		<div id="panel14" class="content">
			<ul class="square">
				<li><a href="#">Baby Carriers</a></li>
				<li><a href="#">Baths</a></li>
				<li><a href="#">Childcare Services</a></li>
				<li><a href="#">Safety</a></li>
				<li><a href="#">Feeding</a></li>
				<li><a href="#">Maternity Clothing</a></li>
				<li><a href="#">Prams & Strollers</a></li>
				<li><a href="#">Toys - Outdoor</a></li>
			</ul>
		</div>
		</dd>
		</dl>	
	</div>
	<div class="large-4 columns">
		<h5>Bargains</h5>
		<ul class="square">
			<li><a href="#">Garage Sales</a></li>
			<li><a href="#">Auctions</a></li>
			<li><a href="#">Flea Markets</a></li>
			<li><a href="#">Barter</a></li>
		</ul>
		<dl class="accordion" data-accordion>
		<dd>
		<a href="#panel15"><i class="fi-plus small"></i>&nbsp;Show More</a>
		<div id="panel15" class="content">
			<ul class="square">
				<li><a href="#">Free Stuff</a></li>
				<li><a href="#">Stuff Wanted</a></li>
			</ul>
		</div>
		</dd>
		</dl>	
	</div>
	<div class="large-4 columns">
		<h5>Collectables</h5>
		<ul class="square">
			<li><a href="#">Antiques</a></li>
			<li><a href="#">Art</a></li>
			<li><a href="#">Sports Memorabilia</a></li>
			<li><a href="#">Toy Collectables</a></li>
		</ul>
		<dl class="accordion" data-accordion>
		<dd>
		<a href="#panel16"><i class="fi-plus small"></i>&nbsp;Show More</a>
		<div id="panel16" class="content">
			<ul class="square">
				<li><a href="#">Collectable Dolls</a></li>
			</ul>
		</div>
		</dd>
		</dl>	
	</div>
	<div class="large-4 columns">
		<h5>Sports & Fitness</h5>
		<ul class="square">
			<li><a href="#">Bicycles</a></li>
			<li><a href="#">Gym & Fitness</a></li>
			<li><a href="#">Surfing</a></li>
			<li><a href="#">Golf</a></li>
		</ul>
		<dl class="accordion" data-accordion>
		<dd>
		<a href="#panel17"><i class="fi-plus small"></i>&nbsp;Show More</a>
		<div id="panel17" class="content">
			<ul class="square">
				<li><a href="#">Boxing & Martial Arts</a></li>
				<li><a href="#">Camping & Hiking</a></li>
				<li><a href="#">Fishing</a></li>
				<li><a href="#">Personal Training</a></li>
				<li><a href="#">Racquet Sports</a></li>
				<li><a href="#">Skateboards</a></li>
				<li><a href="#">Snow Sports</a></li>
				<li><a href="#">Sports Bags</a></li>
				<li><a href="#">Surfing</a></li>
			</ul>
		</div>
		</dd>
		</dl>	
	</div>
	<div class="large-4 columns">
		<h5>Boats & Jetskis</h5>
		<ul class="square">
			<li><a href="#">Motorboats & Powerboats</a></li>
			<li><a href="#">Boat Accessories</a></li>
			<li><a href="#">Tinnies & Dinghies</a></li>
			<li><a href="#">Kayaks & Paddle</a></li>
		</ul>
		<dl class="accordion" data-accordion>
		<dd>
		<a href="#panel18"><i class="fi-plus small"></i>&nbsp;Show More</a>
		<div id="panel18" class="content">
			<ul class="square">
				<li><a href="#">Jet Skis</a></li>
				<li><a href="#">Sail Boats</a></li>
			</ul>
		</div>
		</dd>
		</dl>	
	</div>		
</div>